.lista-de-notas{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lista-de-notas-item{
    margin-bottom: 20px;
    background-color: rgb(202, 194, 194);
    border-radius: 10px;
    list-style: none;
}